{% extends 'base.html' %}
{% block title %} Recipes {% endblock %}

{% block content %}
 <!-- Hero Search Section Begin -->
 <div class="hero-search set-bg" data-setbg="{{url_for('static',filename='images/search-bg.jpg')}}">
    <div class="container text-center">
        <br><h2 class="text-white" style="font-size: 50px">Find a Recipe</h2><br>
        <div class="filter-table">
            <form action="{{url_for('search.recipes')}}" method="POST" class="filter-search" >
                {{ form.hidden_tag()}}
                {{ render_field_search_form(form.recipe, placeholder = form.recipe.label.text) }}
                {{ render_field_search_form(form.tags,id="tag") }}
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<!-- Hero Search Section End -->
 <!-- Recipe Section Begin -->
 <section class="recipe-section spad">
    <section class="feature-recipe" style="padding-top: 0px;padding-bottom: 5px;background-color: transparent;">
        <div class="section-title">
            <h5><i class="fa fa-file-text" style="font-size: large;"></i>&nbsp;Recipes</h5>
        </div>
    </section>
    <div class="container">
        <br><br>
         <div id="paginated-list" class="row" data-current-page="1" aria-live="polite">
            {% for recipe in recipes_found %}
            <div class="col-lg-4 col-sm-6 page-item">
                <div class="recipe-item">
                    <a class="recipe-detail" data-obj="{{obj_to_json(recipe)}}" href="{{url_for('search.recipes_details')}}">
                        <div class="set-bg img" data-setbg="{{recipe.thumbnail_url}}" style="width:350px;height:340px"></div>
                    </a>
                    <div class="ri-text">
                        <div class="cat-name">
                            {% if recipe.tags  %}
                               {{recipe.tags[0].display_name.replace('_',' ')}}
                            {% else %}
                            Recipe
                            {% endif %}
                        </div>
                        <a class="recipe-detail" data-obj="{{obj_to_json(recipe)}}" href="{{url_for('search.recipes_details')}}">
                            <h4>{{recipe.name}}</h4>
                        </a>
                        <p>
                            <div class="set-limit anker_tag" data-html="{{recipe.description}}" style="margin: 0px;"></div>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br><br><br><br><br>
        <div class="row">
            <div class="col-lg-12">
                <nav class="pagination-container">
                    <button class="pagination-button" id="prev-button" aria-label="Previous page" title="Previous page"><i class="fa fa-arrow-circle-left fa-2x"></i></button>
                    &nbsp;&nbsp;&nbsp;&nbsp;<div id="pagination-numbers"></div>&nbsp;&nbsp;
                    <button class="pagination-button" id="next-button" aria-label="Next page" title="Next page"><i class="fa fa-arrow-circle-right fa-2x"></i></button>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Recipe Section End -->
{% endblock %}

{% block scripts %}
    $('#link_recipes').toggleClass('active');
{% endblock %}