<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static',filename='images/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='images/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='images/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static',filename='images/site.webmanifest')}}">
    <link rel="mask-icon" href="{{url_for('static',filename='images/safari-pinned-tab.svg')}}" color="#e59038">
    <meta name="msapplication-TileColor" content="#e59038">
    <meta name="theme-color" content="#ffffff">
     <!-- Google Font -->
     <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;display=swap" rel="stylesheet">
     <!-- Css Styles -->
     <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" type="text/css">
     <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" type="text/css">
     <link rel="stylesheet" href="{{url_for('static',filename='css/nice-select.css')}}" type="text/css">
     <link rel="stylesheet" href="{{url_for('static',filename='css/slicknav.min.css')}}" type="text/css">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css">
     <link rel="stylesheet" href="{{url_for('static',filename='css/pagination.css')}}" type="text/css">

      <!--Social Buttons for Bootstrap-->
     <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-social.css')}}" rel="stylesheet" >
     <title>{% block title %} {% endblock %} - Quick Recipe</title>

</head>
<body>
    <!--Define url for flask-->
    <div id="url-post" data-url-post="{{url_for('search.recipes_item')}}"></div>
    <div id="url-callback" data-url-callback="{{url_for('search.recipes_details')}}"></div>
    <!--end Define url for flask-->
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
       <!-- Header Section Begin -->
       <header class="header-section-other">
        <div class="container-fluid">
            <div class="logo">
                <a href="{{ url_for('main.index') }}"><img src="{{url_for('static',filename='images/quick-recipe-logo.png')}}" style="height: 50px;" alt=""></a>
            </div>
            <div class="nav-menu">
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li id="link_home"><a href="{{ url_for('main.index') }}"><i class="fa fas fa-home" style="font-size: x-large;"></i>&nbsp;Home</a></li>
                        <li id="link_recipes"><a href="{{ url_for('search.recipes') }}"><i class="fa fa-file-text" style="font-size: large;"></i>&nbsp;Recipes</a></li>
                        <li id="link_favorite_recipes"><a href="{{ url_for('main.recipes_favorites') }}"><i class="fa fa-bookmark" style="font-size: large;"></i>&nbsp;Favorites</a></li>
                        <li id="link_auth"><a href="{{ url_for('auth.authentication') }}"><i class="fa fa-user" style="font-size: large;"></i>&nbsp;Sign Up/Log In</a></li>
                        <!-- <li style="cursor: pointer;font-size: 20px;"><img class="rounded-circle" width="35" height="35" alt="icon" src="https://qph.cf2.quoracdn.net/main-qimg-6d72b77c81c9841bd98fc806d702e859-lq"/>&nbsp;&nbsp;<b>Mouhamed Doumbia</b>
                            <ul class="sub-menu">
                                <li><a href="#"><i class="fa fa-user-circle"></i>&nbsp;&nbsp;Account</a></li>
                                <li><a href="#"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
                            </ul>
                        </li> -->
                    </ul>
                </nav>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
    <div class="spad-mid"><hr class="hr-line"></div>
    <!--flash message-->
    <div>
        {% for type, msg in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ type }} alert-dismissible" role="alert">
            <div>{{ msg }}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>
        <br/>
        {% endfor %}
    </div>
     <!--End flash message-->
    {% from "macros/_render_field.html" import render_field_search_form %}
    {% block content %} {% endblock %}
   
     <!-- Footer Section Begin -->
     <footer class="footer-section bg-dark">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-5">
                    <div class="fs-left">
                        <div class="logo">
                            <a href="{{ url_for('main.index') }}">
                                <img src="{{url_for('static',filename='images/logo-footer.png')}}" style="height: 90px;" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="social-links" align="center">
                        <a  href="https://www.linkedin.com/in/doumbiamouhamed/" target="_blank"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                        <a href="https://github.com/doumbiasoft" target="_blank"><i class="fa fa-github"></i><span>GitHub</span></a>
                        <button id="scrollToTopBtn"><i class="fa fa-arrow-circle-o-up fa-2x"></i></button>
                    </div>
                   
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">Copyright &copy;<script>document.write(new Date().getFullYear());</script> - <a  href="https://www.linkedin.com/in/doumbiamouhamed/" target="_blank"><span>Mouhamed Doumbia</span></a>, All rights reserved 
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.slicknav.js')}}"></script>
    <script src="{{url_for('static',filename='js/mixitup.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.nice-select.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/axios.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    <script src="{{url_for('static',filename='js/pagination.js')}}"></script>
    <script>{% block scripts %}{% endblock %}</script>
</body>
</html>